{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Snippetbox</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="icon" href="/static/img/favicon.ico">
    </head>
    <body>
        <header>
            <h1><a href='/ui/static'>Snippetbox</a></h1>
        </header>
        {{template "nav"}}
        <main>
            {{template "main" .}}
            {{block "sidebar" .}}
            <p>My default sidebar content</p>
            {{end}}
        </main>
        <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}